
    <td class="w-30" >
   
        <div class="ms-4">
        <p class="text-xs font-weight-bold mb-0">Firstname:</p>
        <h6 class="text-sm mb-0">{{user1.firstname}}</h6>
        </div>
    
        </td>
     <td>
            <div class="text-center">
            <p class="text-xs font-weight-bold mb-0">Lastname:</p>
            <h6 class="text-sm mb-0">{{user1.lastname}}</h6>
            </div>
        </td>
      <td>
            <div class="text-center">
            <p class="text-xs font-weight-bold mb-0">Post:</p>
            <h6 class="text-sm mb-0">{{user1.post}}</h6>
            </div>
        </td>
        <td>
            <div class="text-center">
            <p class="text-xs font-weight-bold mb-0">username</p>
            <h6 class="text-sm mb-0">{{user1.username}}</h6>
            </div>
        </td>
        <td>
            <div class="text-center">
            <p class="text-xs font-weight-bold mb-0">mail:</p>
            <h6 class="text-sm mb-0">{{user1.mail}}</h6>
            </div>
        </td>
        
